.board{
  min-width: 290px;
  max-width: 290px;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__reorder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(184, 212, 236);
    cursor: pointer;
    border-radius: 5px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
  
  &__top {
    display: flex;
    align-items: center;

    &__title {
      flex: 1;
      align-items: center;
      font-weight: bold;

      & span {
        color: gray;
      }
    }

    & button {
      position: relative;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__cards {
    flex: 1;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px;
    overflow-y: auto;

    &__add {
      background-color: #fff !important;
      border-radius: 5px;
      box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s;

      &:hover {
        box-shadow: 1px 2px 0 1px #ccc;
        background-color: #dedcdc !important;
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }

  &__boards {

    &__add {
      background-color: #fff !important;
      border-radius: 5px;
      box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s;
      min-width: 290px;
      max-width: 290px;
      width: 290px;

      &:hover {
        box-shadow: 1px 2px 0 1px #ccc;
        background-color: #dedcdc !important;
      }

      &:active {
        transform: scale(0.99);
      }
    }

    &__edit {
      & input {
        min-width: 290px;
        max-width: 290px;
        width: 290px;
      }
    }
  }
}

.rename {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;

  & input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #1379ec;
    padding: 10px;
    font-size: 1rem;
    transition: all 0.3s;
    font-weight: bold;
  }

  & svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}